@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}

.exo {
  font-family: "Exo 2", sans-serif;
}

.rammetto {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes twinkle {
  0%, 100% { opacity: 0; transform: scale(0.5); }
  50%       { opacity: 0.85; transform: scale(1); }
}

.animate-twinkle {
  animation: twinkle 2s infinite;
}